[user]
	email = {{ .email }}
	name = {{ .name }}
[core]
	editor = vim
	pager = delta
[color]
	ui = auto
[interactive]
	diffFilter = delta --color-only
[diff]
	colorMoved = default
[delta]
	navigate = true
	line-numbers = true
	syntax-theme = Nord
	file-style = bold #89b4fa
	file-decoration-style = #45475a ul
	hunk-header-style = file line-number syntax
	hunk-header-decoration-style = #45475a box
	line-numbers-left-style = #6c7086
	line-numbers-right-style = #6c7086
	line-numbers-minus-style = #f38ba8
	line-numbers-plus-style = #a6e3a1
	minus-style = syntax "#3d1f27"
	minus-emph-style = syntax "#6b2d3e"
	plus-style = syntax "#1e3a2e"
	plus-emph-style = syntax "#2d5a3e"

[url "git+ssh://pwlars@git.launchpad.net/"]
	insteadof = lp:

[alias]
	# List recently merged commits in a nicer format
	ls = log --pretty=format:"%C(yellow)%h|%ad|%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
	# Try to delete the remote branch, and if that works, delete the local one
	kill = "!f() { git push pwlars -d $1 && git branch -d $1; }; f"
	# List local branches sorted by author date, sorted descending order
	bage = for-each-ref --sort='authordate:iso' --format=' %(authordate:short)%09%(refname:short)' refs/heads
	# List unmerged branches
	unmerged = branch --no-merged main
	uncommit = reset --soft HEAD~
	unstage = reset HEAD --
	# only remove local branches if they are already landed in main
	cleanup = "!git branch --merged main | grep  -v '\\*\\|main' | xargs -n 1 -r git branch -d"
	sweep = !git branch --merged main | grep -v \"^\\*\\\\| main\\$\" | xargs -p -n 1 git branch -d

[push]
	default = simple
	gpgSign = false

[credential "https://github.com"]
	helper =
	helper = !{{ .brewPrefix }}/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !{{ .brewPrefix }}/bin/gh auth git-credential

[init]
	defaultBranch = main

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
